table {
	border: 2px;
}
td {
	
	height: 45px;
	width: 45px;
	margin: 16px;
	text-align: center;
	background-color:#f1f1f1;
    border-width:2px;
    border-style:solid;
    border-bottom-color:#a1a1a1;
    border-right-color:#a1a1a1;
    border-top-color:#d1d1d1;
    border-left-color:#d1d1d1;
    border-radius:5px;
}
#topBanner {
	border: 1px;
	border-radius: 3px;
	font-weight: bold;
	background-color: green;

}
.Bomb {
	background-color: red !important;
	border-bottom-color:#a1a1a1;
    border-right-color:#a1a1a1;
    border-top-color:#d1d1d1;
    border-left-color:#d1d1d1;
}
.controls {

}
.known {
	background-color: grey;
	border: none;
}
.revealed {
	background-color: #ffff94;
}